html {
    font-size:20px;
    background-color: brown;
}

nav{
    text-align: center;
    color:bisque;
    font-size: 2rem;
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(192, 156, 95);
    overflow-x: hidden;
    padding-top: 20px;
}

nav a {
    color:rgb(240, 26, 26);
    display: block;
    font-size: 2rem;
    margin: 20px;
}

nav a:hover  {
    color: black;
}

nav a:active {
    color:rgb(255, 0, 0)
}